<section class="px-8 py-20">
    <div class="flex flex-col gap-[120px]">
        <div class="relative">
            <app-benefie-detail 
                imageUrl="../../../assets/images/join-us.jpg"
                DescritionImage="Ambiente de Trabalho com Funcionarios"
                TitleBenefie="Care to join our mission?"
                Descrition="We’re always looking for ambitious individuals to help us on our journey. If you’re passionate 
                about our mission to provide clean, accessible transport to improve urban living we want to hear from you!"
                [ThereButton]= true
                ContentButton="Say Hello"
            />
            <div class="absolute bg-[url('./assets/patterns/left-downward-arrow.svg')] bg-left -right-8 top-40 w-[370px] h-[150px]"></div>
            </div>
            <div class="flex flex-col gap-16 text-center">
                <h5 class="text-[#495567] font-['Space Mono'] text-4xl font-bold">Why join us?</h5>
                <div class="flex flex-col gap-14">
                    <app-benenfie-numeration
                        imageUrl="../../../assets/images/our-tech.jpg"
                        DescritionImage="Pessoa Usando Celular"
                        Number="01"
                        Title="Our Tech"
                        Descrition="We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric 
                        scooters are a joy to ride!"
                    />
                    <app-benenfie-numeration
                        imageUrl="../../../assets/images/our-integrity.jpg"
                        DescritionImage="Pessoa Usando Celular"
                        Number="02"
                        Title="Our integrity"
                        Descrition="We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every 
                        city we serve."
                    />
                    <app-benenfie-numeration
                        imageUrl="../../../assets/images/our-community.jpg"
                        DescritionImage="Pessoa Usando Celular"
                        Number="03"
                        Title="Our community"
                        Descrition="We support every community we serve. All workers are paid a living wage based on their location and are 
                        Scoot employees."
                    />
            </div>
        </div>
    </div>
</section>