<section class="px-8 py-20 flex flex-col gap-[120px]">
    <div class="flex flex-col gap-[120px]">
        <div class="relative">
            <app-benefie-detail 
                imageUrl="../../../assets/images/digital-era.jpg"
                TitleBenefie="Mobility for the digital era"
                Descrition="Getting around should be simple (and even fun!) for everyone. We embrace technology to provide 
                low cost, smart access to scooters at your fingertips."
            />
            <div class="absolute bg-[url('./assets/patterns/left-upward-arrow.svg')] bg-left -right-8 top-32 w-[375px] h-[150px]"></div>
        </div>
        <div class="relative">
            <app-benefie-detail 
                imageUrl="../../../assets/images/better-living.jpg"
                TitleBenefie="Better urban living"
                Descrition="We’re helping connect cities and bring people closer together. Our scooters are also fully-electric 
                and we offset the minimal carbon footprint for each ride."
            />
            <div class="absolute bg-[url('./assets/patterns/right-arrow.svg')] bg-right -left-8 top-0 w-[375px] h-[150px]"></div>
        </div>
    </div>
    <div class="flex flex-col gap-14">
        <app-benenfie-numeration
            imageUrl="../../../assets/images/our-tech.jpg"
            DescritionImage="Pessoa Usando Celular"
            Number="01"
            Title="Our Tech"
            Descrition="We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric 
            scooters are a joy to ride!"
        />
        <app-benenfie-numeration
            imageUrl="../../../assets/images/our-tech.jpg"
            DescritionImage="Pessoa Usando Celular"
            Number="01"
            Title="Our Tech"
            Descrition="We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric 
            scooters are a joy to ride!"
        />
        <app-benenfie-numeration
            imageUrl="../../../assets/images/our-tech.jpg"
            DescritionImage="Pessoa Usando Celular"
            Number="01"
            Title="Our Tech"
            Descrition="We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric 
            scooters are a joy to ride!"
        />
    </div>
</section>