<div class="
    py-8 flex flex-col gap-5">
    <button (click)="open = !open" class="flex justify-between gap-3 items-center text-start">
        <span class="
            text-xl font-['Space Mono'] text-[#495567] font-bold
            md:text-2xl
            ">{{TitleReadMe}}</span>
        <div class="">
            <img *ngIf="!open" src="../../../assets/icons/chevron.svg" alt="Icone para abrir texto">
            <img *ngIf="open" src="../../../assets/icons/chevronClose.svg" alt="Icone para fechar texto">
        </div>
    </button>
    <div *ngIf="open" class="text-start">
        <p class="
            text-[#495567] font-['Lexend Deca'] font-semibold
            xl:text-lg
            ">{{TextDown}}</p>
    </div>
</div>