<section class="px-8 py-[72px] flex flex-col gap-16">
    <div class="flex flex-col gap-10">
        <div class="bg-[url('./assets/images/world-map-mobile.png')] bg-cover bg-center h-[165px]"></div>
        <div class="md:hidden flex flex-col gap-4">
            <app-local-world 
                NameLocal="New York"
            />
            <app-local-world 
                NameLocal="London"
            />
            <app-local-world 
                NameLocal="Jakarta"
            />
            <app-local-world 
                NameLocal="Yokohama"
            />
        </div>
    </div>
    <div class="px-2 flex flex-col items-center text-center gap-8">
        <h6 class="text-[#495567] font-['Space Mono'] font-bold text-4xl">Your City Not Listed?</h6>
        <div class="w-[310px]">
            <p class="text-[#939CAA] font-['Lexend Deca']">If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches 
                based on demand. Feel free to message us by clicking the link or messaging us on social.</p>
        </div>
        <div>
            <button class="bg-[#FCB72B] px-11 py-4">
                <span class="text-white font-['Space Mono'] font-bold">Message Us</span>
            </button>
        </div>
    </div>
</section>