<section class="
    px-8 py-32 flex flex-col gap-12 text-center
    md:px-20
    ">
    <h5 class="text-[#495567] font-['Space Mono'] text-4xl font-bold">FAQs</h5>
    <div class="flex flex-col gap-16 text-center">
        <h6 class="text-[#495567] font-['Space Mono'] text-2xl font-bold">How it works</h6>
        <div class="px-8 flex flex-col gap-4">
            <app-read-more
                [open]="readMeWorks1"
                TitleReadMe="How do I download the app?"
                TextDown="To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even 
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed 
                to the correct page."
            />
            <app-read-more
                [open]="readMeWorks2"
                TitleReadMe="Can I find a --nearby Scoots?"
                TextDown="To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even 
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed 
                to the correct page"
            />
            <app-read-more
                [open]="readMeWorks3"
                TitleReadMe="Do I need a license to ride?"
                TextDown="To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even 
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed 
                to the correct page"
            />
        </div>
    </div>
    <div class="flex flex-col gap-16 text-center">
        <h6 class="text-[#495567] font-['Space Mono'] text-2xl font-bold">Safe driving</h6>
        <div class="px-8 flex flex-col gap-4">
            <app-read-more
                [open]="readMeDriving1"
                TitleReadMe="Should I wear a helmet?"
                TextDown="Yes, please do! All cities have different laws. But we strongly strongly strongly recommend always 
                wearing a helmet regardless of the local laws. We like you and we want you to be as safe as possible while 
                Scooting."
            />
            <app-read-more
                [open]="readMeDriving2"
                TitleReadMe="How about the rules & regulations?"
                TextDown="To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even 
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed 
                to the correct page"
            />
            <app-read-more
                [open]="readMeDriving3"
                TitleReadMe="What if I damage my Scoot?"
                TextDown="To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even 
                simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed 
                to the correct page."
            />
        </div>
    </div>
</section>