<section class="pt-14 pb-32 flex flex-col gap-4">
    <app-job-detail 
        NameJob="General Manager"
        NameLocalWorld="Jakarta, Indonesia"
        ContentButton="Apply"
    />
    <app-job-detail 
        NameJob="UI/UX Designerr"
        NameLocalWorld="Yokohama, Japan"
        ContentButton="Apply"
    />
    <app-job-detail 
        NameJob="Blog Content Copywriter"
        NameLocalWorld="New York, United States"
        ContentButton="Apply"
    />
    <app-job-detail 
        NameJob="Graphic Designer"
        NameLocalWorld="New York, United States"
        ContentButton="Apply"
    />
    <app-job-detail 
        NameJob="Fleet Supervisor"
        NameLocalWorld="Jakarta, Indonesia"
        ContentButton="Apply"
    />
    <app-job-detail 
        NameJob="UX Analyst"
        NameLocalWorld="London, United Kingdom"
        ContentButton="Apply"
    />
</section>